.cr.string.font > div {
    display: flex;
}

.cr.string.font > div > span {
    display: block;
    position: static;
    flex-basis: 38%;
}

.cr.string.font > div > div {
    display: block;
    position: static;
    flex-basis: 62%;
}

.cr.string.font > div > div > ul {
    z-index: 100;
    overflow-y: scroll;
    margin-top: 25px;
    margin-left: 0;
}

.fontpicker input {
    height: auto;
}

.fontpicker * {
    box-sizing: border-box;
}

.fontpicker ul li.current {
    background-color: #303030;
    border-radius: 0px;
}

.fontpicker ul li {
    font-size: 16px;
    width: 200px;
}